{% extends "sign_base.html" %} {% block title %}Forget your password?{% endblock %} {% block redirect %}
<a class="nav-link" href="/sign-in">Sign in</a> {% endblock %} {% block sign-content %}
<form action="{% url 'password_reset' %}" method="post">
    <h1 class="form-heading">MIT</h1>
    <p> Enter your email address and we will send you a link to reset your password. </p>
    <input type="email" name="email" class="form-control" placeholder="Reset email address" required autofocus>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Send reset email</button>
    {% csrf_token %}
</form>
{% endblock %}