{% extends "sign_base.html" %} {% block title %}Registration{% endblock %}
<!--redirect to sign in html -->
{% block redirect %}
<a class="nav-link" href="/sign-in">Sign in</a> {% endblock %} {% block sign-content %}{% if validlink %}
<h1 class="form-heading">Reset Your Password.</h1>
<form action="" method="POST">
    <div class="placeholderreset">
        {% if form.new_password1.errors %}
        <h5 class="error">
                {{ form.new_password1.errors }}
            </h5> {% endif %} {% if form.new_password2.errors %}
        <h5 class="error">
                {{ form.new_password2.errors }}
            </h5> {% endif %}
    </div>
    <table>
        <tr>
            <td>
                <label for="id_new_password1" class="reset-password-label">New password:</label>
            </td>
            <td class="reset"> {{ form.new_password1 }}</td>
        </tr>
        <tr>
            <td>
                <label for="id_new_password2" class="reset-password-label">Confirm password:</label>
            </td>
            <td class="reset">{{ form.new_password2 }}</td>
        </tr>
    </table>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Confirm</button>
    {% csrf_token %}
</form>
{% else %}
<p>
    The password reset link was invalid, possibly because it has already been used. Please request a new password reset.
</p>
{% endif %} {% endblock %}